[submodule "tests/deps/shell-maker"]
	path = tests/deps/shell-maker
	url = https://github.com/xenodium/shell-maker
[submodule "tests/deps/acp"]
	path = tests/deps/acp
	url = https://github.com/xenodium/acp.el
[submodule "tests/deps/agent-shell"]
	path = tests/deps/agent-shell
	url = https://github.com/xenodium/agent-shell
[submodule "tests/deps/websocket"]
	path = tests/deps/websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "tests/deps/mock-acp"]
	path = tests/deps/mock-acp
	url = https://github.com/junyi-hou/mock-acp
